body {
    padding: 10px;
    min-height: 100%;
  }
  
  button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
  }
  
.float-right {
    float: right;
}

.outline-fill {
    margin-top: 10px;
    padding: 5px;
    border-radius: 0.375rem;
    height: 100%;
    min-height: 100%;
    border: 1px;
    border-color: grey;
    border-style: dashed;
}